<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/hero1.jpg" alt="slide" style="display: block; width: 100%;">
        <div class="container">
            <div class="carousel-caption text-start">
                <h1>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Example title.</font>
                    </font>
                </h1>
                <p class="opacity-75">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statistical studies, according to the American Language
                            Association, indicate that the demand for Arabic increased by 126% in the United States of
                            America alone between 2002 and 2009.</font>
                    </font>
                </p>
                <p><a class="btn btn-lg btn-primary" href="#">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Register today</font>
                        </font>
                    </a></p>
            </div>
        </div>
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="slide" style="display: block; width: 100%;">
        <div class="container">
            <div class="carousel-caption">
                <h1>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Another example address.</font>
                    </font>
                </h1>
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">According to the British Council, teaching English in
                            Britain contributes to boosting its economy by more than two billion pounds annually, and
                            has provided more than 26,000 jobs.</font>
                    </font>
                </p>
                <p><a class="btn btn-lg btn-primary" href="#">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">learn more</font>
                        </font>
                    </a></p>
            </div>
        </div>
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="slide" style="display: block; width: 100%;">
        <div class="container">
            <div class="carousel-caption text-end">
                <h1>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">One more for good measure.</font>
                    </font>
                </h1>
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statistics on the volume of language investment outside
                            Britain vary from year to year, but the Executive Director of the British Council, Eddie
                            Byers, believes that investment in English education abroad is not only calculated on the
                            financial level, but also on the political level.</font>
                    </font>
                </p>
                <p><a class="btn btn-lg btn-primary" href="#">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Browse the gallery</font>
                        </font>
                    </a></p>
            </div>
        </div>
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center p-4">
        <h1>Welcome to the Shop</h1>
    </div>
</section>
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Title</font>
                </font>
            </h2>
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Always remember that the computer does not have intelligence,
                        but it acquires artificial intelligence through three main functional elements: the ability to
                        analyze, the ability to compose, and logical reasoning.</font>
                </font>
            </p>
            <p><a class="btn btn-secondary" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">View details</font>
                    </font>
                </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">post address</font>
                </font>
            </h2>
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">If we want to use a smart computer to process the Arabic
                        language, we find ourselves facing a great challenge, especially since our language is
                        characterized by the coherence of its systems and overlapping. Nevertheless, artificial
                        intelligence enables us to obtain four types of processing, which are: phonological processing,
                        morphological processing, grammatical processing, and grammatical processing. semantic.</font>
                </font>
            </p>
            <p><a class="btn btn-secondary" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">View details</font>
                    </font>
                </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2 class="fw-normal">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">A third address to confirm the information</font>
                </font>
            </h2>
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Thanks to the research and techniques of artificial
                        intelligence, we were able to move from the stage of dealing with the physicist to the stage of
                        dealing with the logical, and this transition has reflected positively on how peoples deal with
                        their living languages, and this means that it should reflect positively on how we deal with our
                        Arabic language.</font>
                </font>
            </p>
            <p><a class="btn btn-secondary" href="#">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">View details</font>
                    </font>
                </a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Featured first title. </font>
                </font><span class="text-body-secondary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">It will blow your mind.</font>
                    </font>
                </span>
            </h2>
            <p class="lead">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">The human face is a complex and highly distinct part of the
                        body. </font>
                    <font style="vertical-align: inherit;">In fact, it is one of the most complex signaling systems
                        available to us; </font>
                    <font style="vertical-align: inherit;">It includes more than 40 structurally and functionally
                        independent muscles, each of which can be operated independently of the other; </font>
                    <font style="vertical-align: inherit;">It is one of the strongest indicators of emotion.</font>
                </font>
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Oh yeah, that's good. </font>
                </font><span class="text-body-secondary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">See for yourself.</font>
                    </font>
                </span>
            </h2>
            <p class="lead">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">When we laugh or cry, we project our emotions, allowing
                        others to peek into our minds as they "read" our faces based on changes in key facial components
                        such as the eyes, eyebrows, eyelids, nose, and lips.</font>
                </font>
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">And finally, this. </font>
                </font><span class="text-body-secondary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Checkmate.</font>
                    </font>
                </span>
            </h2>
            <p class="lead">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">All the muscles in our body are supported by nerves that
                        connect from all over the body to the spinal cord and brain. </font>
                    <font style="vertical-align: inherit;">This nerve communication is bidirectional, i.e. the nerve
                        causes muscle contractions based on brain signals, and at the same time sends information about
                        the muscle condition to the brain</font>
                </font>
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-end"><a href="#">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Go back to the top</font>
            </font>
        </a></p>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">© 2023 BuSiphe, Inc. </font>
            <font style="vertical-align: inherit;">· </font>
        </font><a href="#">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Privacy Policy</font>
            </font>
        </a>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> · </font>
        </font><a href="#">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Terms of Use</font>
            </font>
        </a>
    </p>
</footer>